* {
  box-sizing: border-box;
}
 @media (max-width: 767px) {
  .fullscreen-bg {
    background: url(../img/bg.jpg) center no-repeat;
  }

  .fullscreen-bg__video {
      display: none;
  }
} 
html {
  overflow:hidden;
}
body {
  margin: 0;
  height: 670px;
  background-size: cover;
  background: url(../img/bg.jpg) center no-repeat;
  word-break: break-all;
}
 .fullscreen-bg {
  overflow-x: hidden;
  position: fixed;
  height: 100%;
  width: 100%;
  padding-top:60%;
  z-index: 1;
}

.fullscreen-bg__video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}
.overlay{ 
 background: rgba(0,0,0,0.6); 
 position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 150%;
  z-index: 30; 
}
.open {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid #000;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.9);
  width: 350px;
  height: 100px;
  margin: 0 auto;
  margin-top: 20px;
-webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}

.open:hover {
  background-color: green;
}
  
.open-btn {
  border: none;
  outline: none;
  color: #fff;
  font-weight: 900;
  cursor: pointer;
  background-color: #5356ad;
  box-shadow: 0px 0px 10px rgba(83, 86, 173, 0.5);
  border-radius: 8px;
  border: 1px solid #fff;
  width: 200px;
  height: 50px;
  
}
.main {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 300px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}
.main-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
          align-content: flex-start;
  width: 550px;
  min-height: 400px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.6);
  border: 1px solid black;
}
.main-info .name,
.main-info .name-value,
.main-info .budget,
.main-info .budget-value,
.main-info .goods,
.main-info .goods-value,
.main-info .items,
.main-info .items-value,
.main-info .employers,
.main-info .employers-value,
.main-info .discount,
.main-info .discount-value,
.main-info .isopen,
.main-info .isopen-value {
  width: 48%;
  margin-top: 10px;
  min-height: 40px;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.8);
  color: #000;
  font-size: 20px;
  font-weight: 700;
}
.main-info .isopen-value,
.main-info .discount-value {
  background-color: red;
}
.main-functions {
  width: 550px;
  min-height: 500px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.6);
  border: 1px solid black;
  color: #000;
  font-size: 20px;
  font-weight: 700;
}
.main-functions .choose-goods,
.main-functions .choose-items,
.main-functions .time,
.main-functions .count-budget,
.main-functions .hire-employers {
  margin-top: 5px;
  text-align: center;
  font-size: 20px;
}
.main-functions .goods-item {
  display: inline-block;
  margin: 0 auto;
  margin-top: 10px;
  padding-left: 10px;
  width: 49%;
  height: 25px;
}
.main-functions .goods-item-btn {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
}
.main-functions .choose-item,
.main-functions .time-value,
.main-functions .count-budget-value {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  padding-left: 10px;
  width: 70%;
  height: 25px;
}
.main-functions .time-value {
  width: 30%;
}
.main-functions .count-budget-value {
  width: 30%;
  display: inline-block;
  margin-left: 25%;
}
.main-functions .hire-employers-item {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  padding-left: 10px;
  width: 49%;
  height: 25px;
}
.main-functions .hire-employers-btn {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
}



.os-phrases h2 {
  font-family: 'Dosis', 'Lato', sans-serif;
  font-size: 70px;
  font-weight: 200;
  width: 100%;
  overflow: hidden;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  position: relative;
  top: 0;
  left: 0;
  letter-spacing: 14px;
  text-align: center;
}

.os-phrases h2,
.os-phrases h2 > span {
  height: 100%;
  /* Centering with flexbox */
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.os-phrases h2 > span {
  margin: 0 15px;
}

.os-phrases h2 > span > span {
  display: inline-block;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  perspective: 1000px;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

.os-phrases h2 > span > span > span {
  display: inline-block;
  color: hsla(0,0%,0%,0);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  -webkit-animation: OpeningSequence 5.2s linear forwards;
  -moz-animation: OpeningSequence 5.2s linear forwards;
  animation: OpeningSequence 5.2s linear forwards;
}

.os-phrases h2:nth-child(2) > span > span > span {
  -webkit-animation-delay: 5s;
  -moz-animation-delay: 5s;
  animation-delay: 5s;
}

.os-phrases h2:nth-child(3) > span > span > span {
  -webkit-animation-delay: 10s;
  -moz-animation-delay: 10s;
  animation-delay: 10s;
}

.os-phrases h2:nth-child(4) > span > span > span {
  -webkit-animation-delay: 15s;
  -moz-animation-delay: 15s;
  animation-delay: 15s;
}

.os-phrases h2:nth-child(5) > span > span > span {
  font-size: 150px;
  -webkit-animation-delay: 21s;
  -moz-animation-delay: 21s;
  animation-delay: 21s;
  -webkit-animation-duration: 8s;
  -moz-animation-duration: 8s;
  animation-duration: 8s;
}

.os-phrases h2:nth-child(6) > span > span > span {
  -webkit-animation-delay: 30s;
  -moz-animation-delay: 30s;
  animation-delay: 30s;
}

.os-phrases h2:nth-child(7) > span > span > span {
  -webkit-animation-delay: 34s;
  -moz-animation-delay: 34s;
  animation-delay: 34s;
}

@-webkit-keyframes OpeningSequence {
  0% {
    text-shadow: 0 0 50px #fff;
    letter-spacing: 80px;
    opacity: 0;
    -webkit-transform: rotateY(-90deg);
  }
  50% {
    text-shadow: 0 0 1px #fff;
    letter-spacing: 14px;
    opacity: 0.8;
    -webkit-transform: rotateY(0deg);
  }
  85% {
    text-shadow: 0 0 1px #fff;
    opacity: 0.8;
    -webkit-transform: rotateY(0deg) translateZ(100px);
  }
  100% {
    text-shadow: 0 0 10px #fff;
    opacity: 0;
    -webkit-transform: translateZ(130px);
    pointer-events: none;
  }
}

@-moz-keyframes OpeningSequence {
  0% {
    text-shadow: 0 0 50px #fff;
    letter-spacing: 80px;
    opacity: 0.2;
    -moz-transform: rotateY(-90deg);
  }
  50% {
    text-shadow: 0 0 1px #fff;
    letter-spacing: 14px;
    opacity: 0.8;
    -moz-transform: rotateY(0deg);
  }
  85% {
    text-shadow: 0 0 1px #fff;
    opacity: 0.8;
    -moz-transform: rotateY(0deg) translateZ(100px);
  }
  100% {
    text-shadow: 0 0 10px #fff;
    opacity: 0;
    -moz-transform: translateZ(130px);
    pointer-events: none;
  }
}

@keyframes OpeningSequence {
  0% {
    text-shadow: 0 0 50px #fff;
    letter-spacing: 80px;
    opacity: 0.2;
    transform: rotateY(-90deg);
  }
  50% {
    text-shadow: 0 0 1px #fff;
    letter-spacing: 14px;
    opacity: 0.8;
    transform: rotateY(0deg);
  }
  85% {
    text-shadow: 0 0 1px #fff;
    opacity: 0.8;
    transform: rotateY(0deg) translateZ(100px);
  }
  100% {
    text-shadow: 0 0 10px #fff;
    opacity: 0;
    transform: translateZ(130px);
    pointer-events: none;
  }
}

.os-phrases h2:nth-child(8) > span > span > span {
  font-size: 30px;
  -webkit-animation: FadeIn 4s linear 40s forwards;
  -moz-animation: FadeIn 4s linear 40s forwards;
  animation: FadeIn 4s linear 40s forwards;
}

@-webkit-keyframes FadeIn { 
  0% {
    opacity: 0;
    text-shadow: 0 0 50px #fff;
  }
  100% {
    opacity: 0.8;
    text-shadow: 0 0 1px #fff;
  }
}

@-moz-keyframes FadeIn { 
  0% {
    opacity: 0;
    text-shadow: 0 0 50px #fff;
  }
  100% {
    opacity: 0.8;
    text-shadow: 0 0 1px #fff;
  }
}

@keyframes FadeIn { 
  0% {
    opacity: 0;
    text-shadow: 0 0 50px #fff;
  }
  100% {
    opacity: 0.8;
    text-shadow: 0 0 1px #fff;
  }
}

/* Bold words */
.os-phrases h2:first-child .word3,
.os-phrases h2:nth-child(2) .word2,
.os-phrases h2:nth-child(4) .word2 {
  font-weight: 600;
}

/* General Demo Style */
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700|Dosis:200,600);

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body, html { font-size: 100%; padding: 0; margin: 0; height: 100%;}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

body {
  font-family: 'Lato', Calibri, Arial, sans-serif;
  color: #fff;
  background: #000;
}

a {
  color: #f0f0f0;
  text-decoration: none;
}

a:hover {
  color: #fff;
}

/* Header Style */
.codrops-top {
  text-transform: uppercase;
  position: relative;
  z-index: 1000;
  font-size: 0.68em;
  border-bottom: 1px solid rgba(255,255,255,0.2);
  line-height: 2.2;
}

.codrops-top a {
  padding: 0 1em;
  letter-spacing: 0.1em;
  color: rgba(255,255,255,0.2);
  display: inline-block;
}

.codrops-top a:hover {
  color: rgba(255,255,255,0.9);
}

.codrops-top span.right {
  float: right;
}

.codrops-top span.right a {
  float: left;
  display: block;
}

.button {
  padding: 20px 40px;
  background: none;
  border: none;
  position: relative;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 3px;
  cursor: pointer;
}
.button:after, .button:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: 2px solid #000;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}
.button:after {
  -webkit-transform: translate(3px, 3px);
          transform: translate(3px, 3px);
}
.button:before {
  -webkit-transform: translate(-3px, -3px);
          transform: translate(-3px, -3px);
}
.button:hover:after, .button:hover:before {
  -webkit-transform: translate(0);
          transform: translate(0);
}







